* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  padding: 15px;
  background-color: rgb(243, 243, 243);
  height: calc(100vh - 30px);
}
h1,
p {
  font-family: Lato;
}

input {
  outline: none;
}
input[type='text'] {
  padding: 5px;
  border: 1px solid gray;
}

button {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 5px;
  background: lightgray;
  cursor: pointer;
}

button:active {
  background: rgb(177, 177, 177);
}

.card {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  word-wrap: break-word;
}
